.hero{
    width: 100;
    position: relative;

    video{
        width: 100%;
        object-fit: contain;
    }
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: transparent;
}