.toggleBtn{
    display: flex;
    align-items: center;
    svg{
        fill: var(--color-white);
        width: 1.5rem;
    }
    &:hover{
        circle{
            margin-right: .1rem;
        }
    }
}

.transpBtn{
    max-width: auto;
    background-color: transparent;
    border: 1px solid var(--color-black);
    padding: .6rem 1.5rem;
    border-radius: 3rem;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .toggleBtn{
        display: none;
    }
}