.toggleBtn{
    display: flex;
    align-items: center;
    svg{
        fill: var(--color-white);
        width: 1.5rem;
    }
    &:hover{
        circle{
            margin-right: .1rem;
        }
    }
}

.transpBtn{
    max-width: auto;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: .6rem 1.5rem;
    border-radius: 3rem;
    font-size: .7rem;
    font-weight: 600;
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 20;
    transition: all .8s;
    // background-clip: text;

    // -webkit-background-clip: ;

    &::before{
        content: "";
        // color: #000;
        transition: all 1s;
        position: absolute;
        background-color: var(--text-color);
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        height: 100%;
        width: 100%;
        z-index: -50;

        // -webkit-background-clip: text;
        // color: transparent;
    }

    &:hover{
        color: var(--bg-color);
        &::before{
            transform: translateY(0);
        }
    }
}

@media (max-width: 1279px) {
    .toggleBtn{
        display: none;
    }
}