.col{
    font-size: 1.1rem;
    color: rgb(244, 244, 244);
    font-weight: 300;
    width: 11.3rem;

    h6{
        display: flex;
        align-items: center;
        margin: 0 0 1.2rem;
        font-size: 1.05rem;
        &::before{
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background-color: #fff;
            content: "";
            margin: 0 .5rem 0 0;
        }
    }


    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin-bottom: .2rem;
        }
    }
}