.introComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
    
    
    figure{
        transition: transform .5s;
        width: 10rem;
        // width: 100%;
    }

    p{
        font-family: var(--font-fam);
        margin: 1rem 0 0;
        font-size: 1rem;
        width: 12rem;
    }

    &:hover{
        figure{
            transform: scale(1.05);
        }

        p{
            text-decoration: underline;
            text-decoration-thickness: .1rem;
        }
    }
}