.introComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    figure{
        width: 10rem;
        // width: 100%;
    }

    p{
        margin: 1rem 0 0;
    }
}