.featured{
    // margin: 0 var(--padding-sides);
    position: relative;
    cursor: none;
    overflow: hidden;
    &_num{
        margin: 1rem var(--padding-sides) 5rem;
        display: flex;
        justify-content: space-between;

        & > span{
            flex-grow: 1;
        }

        div{
            display: flex;
            justify-content: space-between;
            flex-grow: 2;
        }
    }

    h2{
        text-transform: uppercase;
        width: 10rem;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 1.1;
        letter-spacing: -.5px;
        margin: 0 var(--padding-sides) 3rem;
    }

    &_engagements{
        display: flex;
        position: relative;
        gap: 6rem;
        overflow-x: scroll;
        padding-top: 7rem;
        // left: -5rem;
        
        // &_container{
        //     position: sticky;
        //     position: absolute;
        // }

        &::-webkit-scrollbar-track{
            background-color: rgb(156, 155, 155);
            margin: 0rem var(--padding-sides);
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--scrollbar-bg-color);
        }
        &::-webkit-scrollbar{
            height: .15rem;
        }
    }
}

.cursor{
    font-size: 14px;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--text-color-secondary);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 52;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s;
    color: black !important;
}