.featured{
    margin: 0 var(--padding-sides);
    position: relative;
    &_num{
        margin: 1rem 0 5rem;
        display: flex;
        justify-content: space-between;

        & > span{
            flex-grow: 1;
        }

        div{
            display: flex;
            justify-content: space-between;
            flex-grow: 2;
        }
    }

    h2{
        text-transform: uppercase;
        width: 10rem;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 1.1;
        letter-spacing: -.5px;
        margin: 0 0 3rem;
    }

    &_engagements{
        display: flex;
        gap: 6rem;
        overflow-x: scroll;
        margin-top: 7rem;
        // left: -5rem;
        
        // &_container{
        //     position: sticky;
        //     position: absolute;
        // }

        &::-webkit-scrollbar-track{
            background-color: rgb(156, 155, 155);
        }
        &::-webkit-scrollbar-thumb{
            background-color: #000;
        }
        &::-webkit-scrollbar{
            height: .15rem;
        }
    }
}