.header{
    display: flex;
    padding: 3rem var(--padding-sides);
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 51;
}

.menu_btn{
    display: none;
    color: var(--color-white);
    text-transform: uppercase;
}

@media (max-width: 1279px) {
    .menu_btn{
        display: block;
    }
}