.header{
    display: flex;
    padding: 3rem 5rem;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 51;
}