.videoPlayer{
    // min-width: 100%;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    overflow: clip;




    &::-webkit-media-controls-panel{
        display: none;
    }
}