.overview{
    padding: 0 var(--padding-sides) 5rem;

    & > figure{
        margin: 0 0 5rem !important;
    }

    &_container{
        display: flex;

        
        figure{
            margin: 0 0 0 auto;
            svg{
                width: 30rem;
                // height: 70%;
            }
        }
        p{
            margin: 0 0 2rem;
            width: 40%;
            font-size: 2.2rem;
            font-weight: 520;
        }
    }
    
}

@media only screen and (max-width: 1279px) {
    .overview{
        &_container{
            flex-direction: column;

            p{
                font-size: 22px;
                font-weight: 400;
                // width: 40rem;
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    .overview{
        &_container{
            figure{
                width: 50vw;
                height: 17vw;
                margin: auto;

                svg{
                    width: 100%;
                }
            }

            p{
                // width: 40rem;
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .overview{
        &_container{

            p{
                // width: 40rem;
                width: 100%;
            }
        }
    }
}