.footer{
    background-color: #252422;
    
    &_content{
        padding: 7.5rem 5rem 0;
        
    }

    &_links{
        display: flex;
        gap: 1rem;
        margin-right: .9rem;
        margin-bottom: 8rem;
    }

    &_row{
        display: flex;
        color: #f4f4f4;
        justify-content: space-between;
        font-size: 2rem;

        figure{
            margin: 0;

            svg{
                width: 68px;
                height: 22px;
            }
        }


        p{
            margin: 0;
            width: 30.1rem;
            line-height: 1;
            font-family: inherit;
            // letter-spacing: ;
            word-spacing: .5px;
            font-weight: 400;
            margin-right: 6.5rem;
        }

        a{
            color: #f4f4f4;
        }

        &:not(:first-of-type){
            margin: 7.2rem 0 0;
        }
    }

    &_col{
        // width: 50%;
        h6{
            font-size: 1rem;
            display: flex;
            align-items: center;
            margin: 0;
            margin-bottom: 1rem;

            &::before{
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                background-color: #f4f4f4;
                margin-right: .5rem;
                content: "";
            }

        }

        form{
            position: relative;
            input{
                background-color: transparent;
                outline: none;
                border: none;
                width: 30rem;
                line-height: 3rem;
                border-bottom: 1px solid #f4f4f4;

                &::placeholder{
                    color: #f4f4f4;
                    font-size: 1.2rem;
                }
            }
            button{
                position: absolute;
                right: 0;
                background-color: transparent;
                border: none;

                svg{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &_copyright{
        background-color: #191918;
        padding: 1.3rem 5rem;
        display: flex;
        justify-content: space-between;
        color: #5e5e5e;
        font-size: .7rem;
        text-transform: uppercase;
        
        span{
        }
    }
}