.spotlight{
    background-color: #2e2c2c;
    // margin: 8rem 0;
    padding: 8rem 5rem;
    display: flex;
    gap: 2rem;
    // height: 100vh;
    // overflow-y: scroll;

    &_texts{
        color: #f9CDCD;
        width: 50%;

        h2{
            quotes: none;
            display: block;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: .9;
            letter-spacing: -.05em;
            margin: 0;

        }

        p{
            color: #f9CDCD;
            width: auto;
            display: inline-block;
            margin: 1.8rem 0 5rem;
            
            span{
                font-size: 1rem;
                margin-left: .1rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }
        }
        br{
        }
    }
    
    &_video{
        width: 50%;
        width: 50%;
        margin: 0;
    }
}