.spotlight{
    // background-color: #2e2c2c;
    // margin: 8rem 0;
    padding: 8rem var(--padding-sides);
    display: flex;
    gap: 2rem;
    // height: 100vh;
    // overflow-y: scroll;

    &_texts{
        color: var(--text-color);
        width: 50%;

        h2{
            quotes: none;
            display: block;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: .9;
            letter-spacing: -.05em;
            margin: 0;

        }

        p{
            color: var(--text-color);
            width: auto;
            display: inline-block;
            margin: 1.8rem 0 5rem;
            
            span{
                font-size: 1rem;
                margin-left: .1rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }
        }
        br{
        }
    }
    
    &_video{
        width: 50%;
        height: 40rem;
        margin: 0;
    }
}

@media (max-width: 1023px) {
    .spotlight{
        &_texts{
            h2{
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 720px) {
    .spotlight{
        flex-direction: column;
        &_texts{
            order: 2;
            width: 100%;

            h2{
                font-size: 2.8rem;
            }
        }
        figure{
            width: 100%;
        }
    }
}