:root{
    --bg-color: #252422;
    --font-fam: 'SctoGroteskA', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --padding-sides: 5.4vw;
    --color-primary: #f4f4f4;
    --text-color-secondary: #f9CDCD;
    --bg-color-dark: #252422;
    --text-color-dark: #f9CDCD;
    --text-color: rgb(37, 36, 34);
    --scrollbar-bg-color: #9c9b9b;
}

html,*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'SctoGroteskA', sans-serif;
    overflow-x: hidden;
    /* background-image: url(./assets/images/noise.png); */
    transition: all 1s;
}

body.dark{
    background-color: var(--bg-color-dark);
    --text-color: #f9CDCD;
    --scrollbar-bg-color: var(--text-color);
    color: var(--text-color);
    /* overflow-x: hidden; */
}

@media sreen and (min-width: 1279px) {
    :root{
        --padding-sides: 4.5rem;
    }
}

