:root{
    --bg-color-sec: #252422;
    --font-fam: 'SctoGroteskA', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --padding-sides: 5.4vw;
    --color-primary: #f4f4f4;
    --text-color-primary: rgb(37, 36, 34);
    --text-color-secondary: #f9CDCD;
}

html,*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'SctoGroteskA', sans-serif;
    overflow-x: hidden;
    /* background-image: url(./assets/images/noise.png); */
}

@media sreen and (min-width: 1279px) {
    :root{
        --padding-sides: 4.5rem;
    }
}