.case{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    cursor: pointer;
    width: 30rem;
    height: 40rem;

    div{
        transform: scale(1.05); 
        margin: 0;
        overflow-y: hidden;
        height: 30rem;
        width: 100%;
        display: flex;
        position: relative;

        img{
            position: absolute;
            // top: -.6rem;
            height: 100%;
            width: 100%;
            // object-fit: contain;
            // object-position: center;
        }
    }
 
    figure{
        margin: 0;
        height: 31.5rem;
    }


    &_details{
        margin-top: 1.6rem;
        text-transform: uppercase;
        font-family: var(--font-fam);
        font-size: 14px;
        font-weight: 400;

       &_video{
        margin-top: 0;
       }
        // height: 10rem;
        h2{
            margin: 0 0 .6rem;

        }

        p{
            margin: 0;
            width: 12rem;
        }
    }

    &:hover{
        h2{
            text-decoration: underline;
        }

        div{
            // transform: scaleX(1);
        }
    }
}